html {
    background-color: #74ff82;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.title {
    text-align: center;
    margin: 10px;
}

.searchformsticky {
    position: sticky;
    top: 3px;
    z-index: 99;
}

.searchform {
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 400px;
    height: 30px;
    border: 2px solid #663b3b;
    font-size: 1em;
}

.searchbotton {
    height: 30px;
    margin-left: 5px;
    background-color: floralwhite;
    border-radius: 5px;
    cursor: pointer;
}

.searchbotton:hover {
    color: rgb(0, 81, 255);
}

.notice {
    text-align: center;
    font-size: 0.9em;
    opacity: 50%;
}

.genresearchbottom {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 30px;
    background-color: floralwhite;
    border-radius: 5px;
    cursor: pointer;
}

.genresearchbottom:hover {
    color: rgb(0, 81, 255);
}

.noresult {
    margin: 10px;
    padding: 0 40px;
}

.allboxes {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #4e3ac9;
    border: 1px solid #607d8b;
    color: #fffb73;
    height: 45px;
    width: 95px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
}

.selectedpanel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.moodtext {
    text-align: center;
    margin: 5px;
    color: #26454e;
}

.allanimecards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.animecard {
    display: flex;
    flex-direction: column;
    border: 1px solid #0f0f0f;
    width: 182px;
    height: 330px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: gold;
}

.animetitle {
    margin: 5px;
    padding-bottom: 15px;
    font-size: 0.9em;
    color: #420e15;
}
@media (max-width: 500px) {
    .animetitle {
        overflow: scroll;
    }
    .scrolltop {
        display: block;
        position: fixed;
        z-index: 999;
        bottom: 70px;
        right: 25px;
        background-color: #2f3338;
        color: white;
        padding: 5px;
        border-radius: 8px;
        opacity: 0.5;
    }
}

@media (min-width: 501px) {
    .scrolltop {
        display: none;
    }
}

.footer1 {
    display: flex;
    margin: 8px auto;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9em;
}

@media (max-width: 500px) {
    .creditblocks {
        display: flex;
        max-width: 130px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .creditlinks {
        margin-top: 5px;
    }

    .footer2 {
        margin-top: 20px;
    }
}

.footer2 {
    text-align: center; 
    margin-bottom: 5px;
}

.footer3 {
    text-align: center;
    margin-bottom: 10px;
}

.creditlinks {
    text-decoration: none;
    background-color: tomato;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    color: white;
}

.icon {
    font-size: 30px;
    margin: 3px;
    margin-top: 5px;
    padding: 5px;
}